.delete{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.PDF1{
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.PDF2{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}